{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <title>Games App</title>
  </head>
  <body>
    <nav class="active" id="nav">
      <ul>
        <li><a href="{% url 'quiz' %}">Quiz Game</a></li>
        <li><a href="{% url 'catch' %}">Catch The Insect Game</a></li>
        <li><a href="{% url 'drawing' %}">Drawing Game</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <button class="icon" id="toggle">
        <div class="line line1"></div>
        <div class="line line2"></div>
      </button>
    </nav>
    <script src="{% static 'homejs.js' %}"></script>

    <!-- Dribbble link: https://dribbble.com/shots/2427219-Header-Navigation-Day-053-dailyui -->
  </body>
</html>
